# Python
*.pyc
*~
__pycache__

# Env
myvenv

# Database
db.sqlite3

# Static folder at project root
/static

# my notes
Django_Girls_Tutorial_notes.md

# Visual Studio
.vscode/
.history/
*.code-workspace