{% extends 'blog/base.html' %}

{% block content %}
    <h2>Edit post</h2>


    <form id="post_form" method="post" action="" enctype="multipart/form-data">
    
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    
        {% for field in form %}
            {{ field }} <br />
        {% endfor %}
    
        {{ formset.management_form }}
        {% for item in formset %}
            {{ item }} <img src="{{ photo }}" alt="item.photo" style="max-height:60px"><br />
        {% endfor %}
    
    
        <input type="submit" name="submit" value="Submit" />
    </form>

{% endblock %}
